/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.card {
  margin: 3% auto;
  width: 60%;
  border-radius: 1em;
  border: 1px solid black;
}

.card:hover {
 transform: scale(1.05);
 border: 2px solid black;
}

.title {
  font-size: 3.5em;
  margin-top: 3%;
  background-color: #1B689C;
  padding: 1% 25%;
  color: white;
  border-radius: 1em;
}

.card-divider {
  margin: auto;
}

.form {
  margin-top: 15%;
}

.log-in-form {
  width: 45%;
  margin-left: 2%;
  color:white;
  position:relative;
  z-index: 1;
  background-color: rgba(60, 60, 60, 0.7);
  margin-bottom: 3%;
  padding: 2%;
  margin-top: 5%;
  border: 2px black solid;
}

.top-bar {
  background-color: rgba(60, 60, 60, 0.7);
  border-bottom: 2px black solid;
  color: white;
}

/* .mid-top-bar-center{
  color: red;
} */

.header{
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0;
  margin-left: 1%;
  margin-bottom: 0;
}

label, a{
  color:white;
  font-size: 1em;
  font-family: 'Courgette', cursive;
}

label {
  margin-bottom: 3%;
}

a:hover{
  color:white;
  text-decoration: underline;
}

.log-in{
  margin-bottom: 1%;
  font-size: 3.5em;
  font-family: 'Courgette', cursive;
}

.button {
  border-radius: 1em;
  margin-top: 5%;
  width: 100%;
  border: 1px solid black;
}

.add {
  width: 30%;
  border-radius: 0em;
}

.notice {
  background-color: #7f94e8;
  text-align: center;
}
