.login-back {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("https://hdwallsource.com/img/2014/10/blurred-36379-37207-hd-wallpapers.jpg");
  display: table;
  top: 1;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  position: fixed;
}

.web-back {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("https://hdwallsource.com/img/2014/10/blurred-36379-37207-hd-wallpapers.jpg");
  display: table;
  top: 1;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.log-in-form {
  width: 45%;
  margin-left: 2%;
  color:white;
  position:relative;
  z-index: 1;
  background-color: rgba(60, 60, 60, 0.7);
  margin-bottom: 3%;
  padding: 2%;
  margin-top: 5%;
  border: 2px black solid;
}

.create-location-form {
  height: 50%;
  width: 45%;
  margin-left: 25%;
  color:white;
  position:relative;
  z-index: 1;
  background-color: rgba(60, 60, 60, 0.7);
  margin-bottom: 3%;
  padding: 1%;
  margin-top: 5%;
  border: 2px black solid;
}
